<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="imgs/image-logo.svg" alt="logo" />
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Atalhos</h6>
          <ul class="footer-links">
            <li><a href="">Favoritos</a></li>
            <li><a href="">Vistos Recentemente</a></li>
            <li><a href="">Mapa</a></li>
          </ul>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Doar</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            &copy; 2024 Sight Inn, Inc.
          </p>
        </div>
      </div>
    </div>
  </footer>