.site-footer {
    background-color: var(--cor-terciaria);
    padding: 45px 0 20px;
    font-size: 0.9375rem;
    line-height: 24px;
    color: var(--cor-secundaria);
  }
  
  .site-footer hr {
    border-top-color: var(--cor-secundaria);
    opacity: 0.5;
  }
  
  .site-footer hr.small {
    margin: 20px 0;
  }
  
  .site-footer h6 {
    color: var(--cor-secundaria);
    font-weight: var(--font-size-strong);
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-links li {
    display: block;
  }
  
  .footer-links a {
    color: var(--cor-texto-primario);
  }
  
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: var(--cor-secundaria);
    text-decoration: none;
  }
  
  .footer-links.inline li {
    display:inline-block
  }

  .copyright-text {
    color: var(--cor-secundaria);
    margin:0
  }